@import "serial-port-zone-style.css";
@import "motor-control-zone-style.css";
@import "chart-zone-style.css";
.up-div {
    display: flex;
    align-items: center;
    width: 980px;
}

.bottom-div {
    display: flex;
    width: 977px;
    height: 265px;
    background-color: white;
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    align-items: center;
    
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wght" 400;
    font-size: 14px;
}